* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    width: 30%;
    height: auto;
    max-width: 380px;
    min-width: 200px;
    border: 1px solid #000;
    box-shadow: 0px 0px 20px 1px #81858c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

figure {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 80%;
    min-width: 180px;
    padding: 10px;
}

fieldset {
    border-style: none;
    width: 100%;
    padding: 10px;
}

label,
input {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    margin-bottom: 5px;
    font-size: 1.08rem;
}

input {
    padding: 5px;
    margin-bottom: 10px;
    height: 40px;
    font-size: 0.9rem;
    background-color: #FFF3C6;
    border: 1px solid #808080;
    border-radius: 5px;
}