* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    width: 30%;
    height: auto;
    max-width: 380px;
    min-width: 200px;
    padding: 15px;
    box-shadow: 0px 0px 20px 1px #81858c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

figure {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 70%;
    min-width: 180px;
}