* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#menu-principal {
    width: 18%;
    height: 100vh;
    min-width: 150px;
    border: 1px solid #C0C0C0;
}

ul {
    list-style: none;
}

li {
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    padding: 10px 10px 10px 20px;
}

li:hover {
    cursor: pointer;
}

#espaco-janelas {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C0C0C0;
}

#janela-clientes {
    width: 30%;
    height: auto;
    border: 2px solid #cfcfcf;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#cabecalho-clientes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#cabecalho-clientes h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.7rem;
}

.fechar {
    font-size: 1.6rem;
    font-weight: 600;
    color: #da0000;
}

#dados-clientes {
    width: 100%;
    border-style: none;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
}