* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
}

nav {
    width: 18%;
    height: 100vh;
    min-width: 150px;
    border: 1px solid #C0C0C0;
}

ul {
    list-style: none;
}

li {
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}